/**
 * --------------------------------------------------------------------------------
 *  VARIABLES
 * --------------------------------------------------------------------------------
 */

/* COLORS ================================================================================ */

$text-color: #f7f7f7;
$accent-color: #cd6326;

$title-primary-color: $accent-color;
$title-secondary-color: #333;
$subtitle-color: #666;

$btn-color: $text-color;
$btn-bg: $accent-color;
$btn-bg-hover: #e39128;
$btn-bg-pressed: #8f5613;

$link-color: $text-color;
$link-border-color: $accent-color;
$link-border-pressed: #8f5613;
$link-bg-hover: $accent-color;
$link-bg-pressed: #8f5613;

$nav-item-color-hover: $accent-color;
$nav-item-color-pressed: #8f5613;

$content-bg: #ccc;

$field-border-color: #666;
$field-placeholder-color: #666;

$flickity-arrow-color: #666;

/* VIEWPORT ================================================================================ */

$wrapper: 1440;
$container: 1200;

$min: min-width;
$max: max-width;

$phone:       480px;
$tablet:      768px;
$lap:         1024px;
$desk:        1280px;
$widescreen:  1440px;

/* TYPOGRAPHY ================================================================================ */

$font-main: "Open Sans", sans-serif;
$font-extra: Roboto, sans-serif;

$text-size: 16;
$default-text-font-size: $text-size + px;

$title-font-size: 48;
$title-secondary-font-size: 27;
$subtitle-font-size: 24;
$text-font-size: 18;

$btn-font-size: 23;
$field-font-size: 23;
$nav-item-font-size: 23;

/* TRANSITION ================================================================================ */

$trans-duration: .5s;
$trans-color: color $trans-duration;
$trans-fill: fill $trans-duration;
$trans-bg: background-color $trans-duration;
$trans-box: background-color $trans-duration, color $trans-duration;
$trans-border-box: background-color $trans-duration, color $trans-duration, border $trans-duration;

/* OTHER ================================================================================ */

$hidden: none !important;
