/**
 * --------------------------------------------------------------------------------
 *  VARIABLES
 * --------------------------------------------------------------------------------
 */

/* COLORS ================================================================================ */

//$text-color: ;
//$title-color: ;
//$link-color: ;
//$link-color-hover: lighten($link-color, 25%);
//$background: ;
//$border-color: ;

/* VIEWPORT ================================================================================ */

$min: min-width;
$max: max-width;

$phone:       480px;
$tablet:      768px;
$lap:         1024px;
$desk:        1280px;
$widescreen:  1440px;

/* TYPOGRAPHY ================================================================================ */

//$font-main: ;
//$font-extra: ;

$text-size: 16;
$text-font-size: $text-size + px;
