/**
 * --------------------------------------------------------------------------------
 *  VARIABLES
 * --------------------------------------------------------------------------------
 */
/* COLORS ================================================================================ */
/* VIEWPORT ================================================================================ */
/* TYPOGRAPHY ================================================================================ */
/* TRANSITION ================================================================================ */
/* OTHER ================================================================================ */
/**
 * ----------------------------------------------------------------------------
 *  MIXINS
 * ----------------------------------------------------------------------------
 */
/* BREAKPOINTS ================================================================================ */
/* PX TO EM ================================================================================ */
/* PX TO REM ================================================================================ */
/**
 * --------------------------------------------------------------------------------
 *  FONTS
 * --------------------------------------------------------------------------------
 */
/* OPEN SANS ================================================================================ */
@font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/OpenSans-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* ROBOTO ================================================================================ */
@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/**
 * ----------------------------------------------------------------------------
 *  RESET
 * ----------------------------------------------------------------------------
 */
body {
  margin: 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

p {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

img,
svg {
  vertical-align: middle;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}

input[type=submit] {
  border: 0;
}

/**
 * ----------------------------------------------------------------------------
 *  BASE
 * ----------------------------------------------------------------------------
 */
* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  color: #f7f7f7;
  font-size: 16px;
}

header,
main,
footer {
  min-width: 20rem;
}

main {
  background-color: #ccc;
  padding-bottom: 1px;
}

nav li {
  margin: 0 0.52174em;
  font-size: 1.19792rem;
}

@media screen and (min-width: 768px) {
  nav li {
    margin: 0 0.86957em;
    font-size: 1.4375rem;
  }
}

@media screen and (min-width: 1024px) {
  nav li {
    margin: 0 1.34783em;
  }
}

/* BLOCKS ================================================================================ */
.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.wrapper,
.container {
  margin: auto;
}

.wrapper {
  max-width: 90rem;
}

.container {
  max-width: 75rem;
}

.menu-item a:hover {
  color: #cd6326;
}

.menu-item a:active {
  color: #8f5613;
}

.row {
  display: flex;
  align-items: center;
}

.side-no-margin > *:first-child {
  margin-left: 0;
}

.side-no-margin > *:last-child {
  margin-right: 0;
}

.side-no-margin-vertical > *:first-child {
  margin-top: 0;
}

.side-no-margin-vertical > *:last-child {
  margin-bottom: 0;
}

.logo-block {
  margin-right: 0.625rem;
}

@media screen and (min-width: 768px) {
  .logo-block {
    margin-right: 1.875rem;
  }
}

.logo-block:hover svg {
  fill: #cd6326;
}

.logo-block:hover span {
  color: #cd6326;
}

.logo-block svg {
  fill: #fff;
  transition: fill 0.5s;
}

@media screen and (max-width: 767px) {
  .logo-block svg {
    width: 3.125rem;
    height: 2.71875rem;
  }
}

@media screen and (min-width: 768px) {
  .logo-block svg {
    width: 4.3125rem;
    height: 3.75rem;
  }
}

.logo-block svg + span {
  margin-left: 0.9375rem;
}

.logo-block span {
  font-size: 2rem;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  transition: color 0.5s;
}

/* TITLES ================================================================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.6875rem;
  color: #333;
}

.subtitle {
  font-size: 1.5rem;
  color: #666;
}

/* BUTTON & LINK ================================================================================ */
a {
  color: #f7f7f7;
  transition: color 0.5s;
}

.btn,
.link {
  font-family: Roboto, sans-serif;
  font-size: 1.19792rem;
}

@media screen and (min-width: 768px) {
  .btn,
  .link {
    font-size: 1.4375rem;
  }
}

.btn {
  padding: 0.65217em 1.08696em;
  background-color: #cd6326;
  color: #f7f7f7;
  border-radius: 5px;
  transition: background-color 0.5s;
  cursor: pointer;
}

.btn:hover {
  background-color: #e39128;
}

.btn:active {
  background-color: #8f5613;
}

.link {
  padding: 0.3913em 0.65217em;
  border: 2px solid #cd6326;
  border-radius: 5px;
  color: #f7f7f7;
  transition: background-color 0.5s, color 0.5s, border 0.5s;
}

@media screen and (min-width: 768px) {
  .link {
    min-height: 2.17391em;
    min-width: 5.21739em;
  }
}

.link:hover {
  background-color: #cd6326;
}

.link:active {
  border-color: #8f5613;
  background-color: #8f5613;
}

/* FIELDS ================================================================================ */
input[type=email] {
  width: 100%;
  padding: 0.65217em;
  background-color: transparent;
  color: #666;
  border: 1px solid #666;
  font-family: Roboto, sans-serif;
  font-size: 1.4375rem;
}

input[type=email]::placeholder {
  color: #666;
}

/* SOCIAL MEDIA ================================================================================ */
.social-media li {
  margin: 0 0.625rem;
}

@media screen and (min-width: 768px) {
  .social-media li {
    margin: 0 0.84375rem;
  }
}

.social-media a {
  display: block;
  width: 40px;
  height: 40px;
  transition: transform 0.5s;
}

.social-media a:hover {
  transform: scale(1.2);
}

.social-facebook.lazyloaded {
  background-image: url("assets/images/icon-facebook.svg");
}

.social-instagram.lazyloaded {
  background-image: url("assets/images/icon-instagram.svg");
}

.social-pinterest.lazyloaded {
  background-image: url("assets/images/icon-pinterest.svg");
}

.social-telegram.lazyloaded {
  background-image: url("assets/images/icon-telegram.svg");
}

/* HIDDEN ================================================================================ */
@media screen and (max-width: 479px) {
  .hidden-phone {
    display: none !important;
  }
}

@media screen and (min-width: 480px) {
  .hidden-phone-and-up {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .hidden-tablet-and-up {
    display: none !important;
  }
}

@media screen and (max-width: 1023px) {
  .hidden-lap {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) {
  .hidden-lap-and-up {
    display: none !important;
  }
}

@media screen and (max-width: 1279px) {
  .hidden-desk {
    display: none !important;
  }
}

@media screen and (min-width: 1280px) {
  .hidden-desk-and-up {
    display: none !important;
  }
}

@media screen and (max-width: 1439px) {
  .hidden-wide {
    display: none !important;
  }
}

@media screen and (min-width: 1440px) {
  .hidden-wide-and-up {
    display: none !important;
  }
}

/* FLICKITY CAROUSEL ================================================================================ */
.flickity-prev-next-button {
  padding: 0;
  width: 2rem !important;
  height: 2.4375rem !important;
  background: url(data:png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAnCAMAAAAmcKiPAAAASFBMVEUAAABgYGBwcHBgYGBoaGhgYGBlZWVkZGRmZmZlZWVlZWVkZGRmZmZkZGRmZmZmZmZlZWVkZGRmZmZnZ2dmZmZmZmZlZWVmZmYifFUVAAAAF3RSTlMAEBAgIDAwQF9gb39/gICPn6Cvv8/f71KNoBYAAACASURBVDjL5ZNJEoNACAAxQ4yaxXWm///TXDCVcsAHJFy7KJpNxAldy1Pc0Ay4rM0ATDXpCwDkirwwcg1JOoDLbGQ7Et2MTI0nDXAPpB2yS5fux6XFcrjVm3vsWW281brWl6FzKemMhdMQaT4z1BNR/ecm4q8cvY9N2bshY0sZRN7p/hwq0LK3xQAAAABJRU5ErkJggg==) no-repeat !important;
}

.flickity-prev-next-button.next {
  transform: rotate(180deg) translateY(20px);
}

.flickity-prev-next-button svg {
  display: none;
}

/**
 * ----------------------------------------------------------------------------
 *  HEADER
 * ----------------------------------------------------------------------------
 */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0.625rem;
}

@media screen and (min-width: 768px) {
  header {
    padding: 1.25rem;
  }
}

@media screen and (max-width: 767px) {
  header > .row {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  header nav {
    flex: 1 0 100%;
    margin-top: 0.625rem;
  }
}

@media screen and (min-width: 768px) {
  header nav {
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  header nav .row {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .header-action-list {
    margin-left: auto;
  }
  .header-action-list li {
    margin: 0 0.625rem;
  }
}

.icon-search {
  fill: #fff;
  transition: fill 0.5s;
}

.search-link:hover .icon-search {
  fill: #cd6326;
}

/**
 * ----------------------------------------------------------------------------
 *  SECTION: HERO
 * ----------------------------------------------------------------------------
 */
.hero-section {
  position: relative;
}

.hero-section img {
  width: 100%;
  object-fit: cover;
  min-height: 34.375rem;
  max-height: 100vh;
}

.hero-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .hero-content {
    background: rgba(0, 0, 0, 0.4);
  }
}

.hero-block {
  max-width: 19.6875rem;
  padding: 1.25rem;
  position: relative;
}

@media screen and (max-width: 1239px) {
  .hero-block {
    position: relative;
    top: 1.25rem;
  }
}

@media screen and (min-width: 1240px) {
  .hero-block {
    top: -1.125rem;
    left: -1.25rem;
  }
}

.hero-block h2 {
  color: #cd6326;
  letter-spacing: 0.04167em;
}

@media screen and (min-width: 1240px) {
  .hero-block h2 {
    margin-bottom: 3.4375rem;
  }
}

.hero-block p {
  margin-bottom: 2.61111em;
  font-size: 1.125rem;
  line-height: 1.5em;
}

@media screen and (min-width: 768px) {
  .hero-block button {
    min-width: 6.95652em;
    min-height: 2.6087em;
  }
}

/**
 * ----------------------------------------------------------------------------
 *  SECTION: ARTICLES
 * ----------------------------------------------------------------------------
 */
.articles-section {
  padding: 0 1.25rem;
  margin-top: 3.125rem;
  margin-bottom: 6.25rem;
}

@media screen and (min-width: 1024px) {
  .articles-section {
    margin-top: 7.8125rem;
    margin-bottom: 15rem;
  }
}

.articles-section h2 {
  margin-bottom: 0.52083em;
  text-align: center;
  color: #333;
}

.articles-section .subtitle {
  margin-bottom: 3.125rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .articles-section .subtitle {
    margin-bottom: 7.5rem;
  }
}

.articles-carousel {
  max-width: 63.75rem;
  margin: auto;
}

.articles-carousel article {
  position: relative;
  transition: opacity .5s linear .25s;
}

@media screen and (max-width: 767px) {
  .articles-carousel article {
    width: 100%;
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .articles-carousel article {
    width: 31%;
    margin-right: 3.5%;
  }
}

@media screen and (min-width: 1024px) {
  .articles-carousel article {
    width: calc(100% / 3 - 40px);
    margin-right: 60px;
  }
}

.articles-carousel article:not(.is-selected) {
  opacity: 0;
}

.articles-carousel picture {
  display: block;
  max-width: 18.75rem;
  max-height: 22.5rem;
  margin: auto;
}

.articles-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-info {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.625rem 0.625rem 2.5rem;
  text-align: center;
  transition: background-color 0.5s;
}

@media screen and (max-width: 767px) {
  .article-info {
    width: 18.75rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 768px) {
  .article-info {
    left: 0;
    right: 0;
  }
}

.article-info * {
  transition: transform 0.5s;
}

.article-info h4 {
  font-size: 1.375rem;
  margin-bottom: 0.68182em;
}

.article-info p {
  font-size: 1.0625rem;
}

.articles-carousel article:hover .article-info {
  background-color: rgba(0, 0, 0, 0.6);
}

.articles-carousel article:hover .article-info h4 {
  transform: scale(1.3);
}

.articles-carousel article:hover .article-info p {
  transform: scale(1.2);
}

@media screen and (max-width: 1279px) {
  .articles-carousel .flickity-button {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .articles-carousel .flickity-button {
    top: 50.9%;
  }
  .articles-carousel .flickity-button.previous {
    left: -87px;
  }
  .articles-carousel .flickity-button.next {
    right: -87px;
  }
}

@media screen and (min-width: 1280px) {
  .articles-carousel .flickity-page-dots {
    display: none;
  }
}

/**
 * ----------------------------------------------------------------------------
 *  SECTION: NEWSLETTER
 * ----------------------------------------------------------------------------
 */
.newsletter {
  max-width: 700px;
  margin: 6.25rem auto;
  padding: 0 1.25rem;
}

@media screen and (min-width: 1024px) {
  .newsletter {
    margin: 15rem auto;
  }
}

.newsletter h3 {
  text-align: center;
  margin-bottom: 2.40741em;
}

.newsletter form {
  display: flex;
}

.newsletter input[type=email] {
  border-right: 0;
  border-radius: 2px 0 0 2px;
}

@media screen and (min-width: 768px) {
  .newsletter input[type=email] {
    min-height: 2.6087em;
  }
}

.newsletter input[type=submit] {
  border-radius: 0 5px 5px 0;
}

@media screen and (min-width: 768px) {
  .newsletter input[type=submit] {
    min-height: 2.6087em;
    flex: 1 0 5.21739em;
  }
}

/**
 * ----------------------------------------------------------------------------
 *  FOOTER
 * ----------------------------------------------------------------------------
 */
footer {
  position: relative;
  height: 22.5rem;
}

footer > picture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

footer > picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer .container {
  height: 100%;
  padding: 0.625rem;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  footer .container {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  footer .container {
    flex-wrap: wrap;
    align-content: center;
    padding: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  footer .container {
    justify-content: space-between;
    max-width: 1240px;
  }
}

footer .container > * {
  margin: 1.25rem 0;
}

@media screen and (min-width: 768px) {
  footer .container > * {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  footer .logo-block {
    padding-right: 15px;
  }
}

@media screen and (min-width: 1024px) {
  footer nav {
    flex: 1;
  }
}

footer nav ul {
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  footer nav li {
    margin: 0 6.85358%;
  }
}
